{
    "name":"{{ name }}",
    "type": "redis-datasource",
    "typeLogoUrl": "public/plugins/redis-datasource/img/logo.svg",
    "url": "redis://{{ redis_ip }}",
    "access": "proxy",
    "basicAuth": false,
    "database": "",
    "jsonData": {},
    "password": "",
    "user": ""
}
