{
    "access": "proxy",
    "basicAuth": false,
    "name": "{{ name }}",
    "readOnly": false,
    "type": "redis-datasource",
    "typeLogoUrl": "public/plugins/redis-datasource/img/logo.svg",
    "url": "redis://{{ redis_ip }}"
}
