[submodule "languages/c/third-party/hiredis/hiredis"]
	path = languages/c/third-party/hiredis/hiredis
	url = https://github.com/redis/hiredis
[submodule "third-party/docker-opengl"]
	path = third-party/docker-opengl
	url = https://github.com/thewtex/docker-opengl
[submodule "third-party/apache-arrow"]
	path = third-party/apache-arrow
	url = https://github.com/apache/arrow
[submodule "languages/python/third-party/redis-py"]
	path = languages/python/third-party/redis-py
	url = https://github.com/elementary-robotics/redis-py.git
