[submodule "languages/c/third-party/hiredis/hiredis"]
	path = languages/c/third-party/hiredis/hiredis
	url = https://github.com/redis/hiredis
[submodule "third-party/docker-opengl"]
	path = third-party/docker-opengl
	url = https://github.com/thewtex/docker-opengl
[submodule "third-party/apache-arrow"]
	path = third-party/apache-arrow
	url = https://github.com/apache/arrow
[submodule "languages/python/third-party/numpy"]
	path = languages/python/third-party/numpy
	url = git@github.com:numpy/numpy.git
[submodule "languages/python/third-party/cython"]
	path = languages/python/third-party/cython
	url = git@github.com:cython/cython.git
[submodule "third-party/noVNC"]
	path = third-party/noVNC
	url = https://github.com/kanaka/noVNC.git
[submodule "languages/c/third-party/msgpack-c/msgpack-c"]
	path = languages/c/third-party/msgpack-c/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "third-party/OpenBLAS"]
	path = third-party/OpenBLAS
	url = git@github.com:xianyi/OpenBLAS.git
[submodule "third-party/redis"]
	path = third-party/redis
	url = git@github.com:antirez/redis.git
[submodule "third-party/opencv"]
	path = third-party/opencv
	url = git@github.com:opencv/opencv.git
[submodule "languages/python/third-party/Pillow"]
	path = languages/python/third-party/Pillow
	url = git@github.com:python-pillow/Pillow.git
[submodule "third-party/RedisTimeSeries"]
	path = third-party/RedisTimeSeries
	url = https://github.com/RedisTimeSeries/RedisTimeSeries
[submodule "metrics/grafana-redis-datasource"]
	path = metrics/grafana-redis-datasource
	url = https://github.com/RedisTimeSeries/grafana-redis-datasource
